* {
  margin: 0%;
  padding: 0%;
}

body{
    margin: 0;
	font-family: 'Lucida Sans';
	min-height: 100vh;
}

/* LOGIN */
.block-container{
    display: flex;
	flex-direction: column;
    align-items: center;
    /* box-sizing: border-box */
    /* background: #1b1c1c; */
}

.logo {
    /* height: 90vh; */
    height: 600px;
    width: auto;
    margin: 0px 0px 0px 10px;
}

.login-input{
    display: block;
    background: #d8dfc5;
    margin: 12px auto;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button {
    background: #b1b625;
    color: #d8dfc5;
    display: inline-block;
    padding: 9px 50px;
    text-align: center;
    box-shadow: 3px 3px 0px green; 
    border-radius: 15px;
    
}

.titulo{
    display: block;
    margin: auto;
    padding: 20px;
    height:100px;
    width:200px;
}

.block-login{
    text-align: center;
    /* margin: 10px 0px 10px 0px; */
    padding: 15px 30px;
    background: #acc864;
    border-radius: 15px;
}

.text{
    margin: 25px 50px 25px 50px;
    text-align: center;
    color:  #1b1c1c;
}

.error-message {
    color: red;
}

.icon-social{
    width: 50px;
	height: auto;
    border: none;
}


/* HOME */
.container-home{
    display: flex;
	flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background: #acc864;
    margin: 20px 20px auto;
}

.hidden {
    display : none;
  }
  
.shower{
    display: block;
  } 

.menu{
    background:#ffee7c;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    /* text-align: center; */
}

.menu-items{
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.menu-items:hover{
    color: green;
}

.menu-menu{
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.icon-menu{
    width: 15px;
    height: auto;
}

.block-home{
    /* width: 70%;
    margin: auto;
    height: auto; */
    margin: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

.block-profile{
    float: left;
    margin: 50px 100px 50px 0px;
    padding: 15px;
    align-items: center;
  }

.profile-logo{
    margin: auto; 
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.share-post{
    border: 3px solid #1a3f13;
    /* padding: 0px 15px; */
    width: 450px;
    border-radius: 15px;
    text-align: center;
}

.block-post{
    display: block;
    padding: 50px 0px 100px 0px;
}

.post-post{
    display: block;
    padding: 50px 150px 50px 150px;
    border: 3px solid #1a3f13;
    background: #dce29f;
}

.icon-post{
    width: 20px;
    height: auto;
    margin: 10px 10px 10px 10px;
}

@media screen and (min-width: 800px) {
    .block-container {
      flex-direction: row;
      justify-content: space-evenly;
      min-height: 100vh;
    }

    .container-home{
        flex-direction: row;
      justify-content: space-evenly;
      min-height: 100vh;
    }

}