body{
    margin: 15px;
}

.logo {
    float: left;
    margin: 15px;
    padding: 50px;
    height: 550px;
    width: 550px;
}

.profile-logo{
    float: left;
    margin: 50px;
    height: 200px;
    width: 200px;
}

.titulo{
    display: block;
    margin: auto;
    height:150px;
    width:250px;
}

h3{
    text-align: center;
    color:  #1b1c1c;
}

.block-two{
    /* background: #1b1c1c; */
    background-size: 20% 20%;
    padding: 10px;
    text-align: center;
}

.text{
    color: #b1b625;
}
.button-registry {
    background: #b1b625;
    color: #d8dfc5;
    display: inline-block;
    font-size: 1em;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px px 0px green; 
    border-radius: 10px;
    
}

/* .button-sign-off{
    display: block;
} */
/* .button-registry:hover {
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
} */

.style-input{
    background: #d8dfc5    ;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    
}

.icon-facebook{
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.icon-gmail{
    height: 50px;
    width: 50px;
    border: none;
}

.button-none{
    border: none;
}