
body {
  margin: 0%;
  padding: 0%;
  font-family: 'Lucida Sans';
    min-height: 100vh;
/*    // background: url(img/fondo-blanco.jpg); */
    background-color: #E5EEC3;
}
/* LOGIN */
.block-container {
    margin-top: 2%;
    display: flex;
	flex-direction: column;
    align-items: center;
  
}
.block-login{
    display: flex;
    flex-direction: column;
    align-items: center;
  /*   background: #acc864; */
    border-radius: 15px;
    padding: 1%;

}

.logo {
    height: 200px;
    width: auto;
}

.login-input{
    background: #d8dfc5;
    margin: 7px;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
}

.button {
    background: #96C41B;
    color: #d8dfc5;
    padding: 9px 50px;
    text-align: center;
    box-shadow: 3px 3px 0px #A8D520; 
    border-radius: 15px;
    margin: 2%;

    
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    height: 100px;
    width: 55%;
}


.text{
    text-align: center;
    color: #1b1c1c;
    margin: 1%;
    width: 100%;
}

.error-message {
    color: red;
    margin: 2%;
}

.icon-social{
    width: 50px;
	height: auto;
    border: none;
}



/* HOME */
.container-home{
   /*  display: flex;
	flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
   
    margin: 20px 20px auto; */
    background: #acc864;
}

.hidden {
    display : none;
  }
  
.shower{
    display: block;
  } 

.menu{
    background:#ffee7c;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    /* text-align: center; */
}

.menu-items{
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.menu-items:hover{
    color: green;
}

.menu-menu{
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.icon-menu{
    width: 15px;
    height: auto;
}
.form-post{
    background-color: #d8dfc5;
    flex-direction: column;
    align-items: start;
    width: 350px;
    border-radius: 5px;
}
.container-btn {
    display: flex;
    margin: 2%;
}
.block-home{
    /* width: 70%;
    margin: auto;
    height: auto; 
    margin: 100px ;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

.block-profile{
    float: left;
    margin: 50px 100px 50px 0px;
    padding: 15px;
    align-items: center;
    margin-bottom: auto;
  }

.profile-logo{
    margin: auto; 
    height: 200px;
    width: 200px;
    border-radius: 25px;
}
.select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 120px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   
   background-color: #b1b625;
}
.select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 130px;
 }

.share-post{
    border: 1% solid #1a3f13;
    resize: none;
    text-align: justify;
    
    text-align-last: center;
    width: 94%;
    margin: 3%;
    border-radius: 5px;
    text-align: center;

}

.block-post{
    display: block;
    text-align: center;
    margin: 3% 0% 0% 0%;
}

.post-post{
   
    border: 3px solid #1a3f13;
    background: #dce29f;
    width: 350px;
    height: 88px;
}


.icon-post{
    width: 20px;
    height: auto;
    margin: 10px 10px 10px 10px;
}
.imput-comment{
    border-radius: 15px 50px 30px;
    width: 160px;
    height: 35px;
    text-align: center;
}
 
@media screen and (min-width: 800px) {
    .logo {
        height: 500px;
        width: auto;
        
    }
    .block-container {
        flex-direction: row;
        justify-content: space-around;
    }


    .block-post{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-home{
        flex-direction: row;
      justify-content: space-evenly;
      min-height: 100vh;
    }

    .block-home{
     
        display: flex;
        flex-direction: row;
        align-items: center;
        
      }

     /*  padding: 23px;
      width: 350px; */
} 